DATABASE_URL=postgresql://postgres.[project-ref]:[password]@[pooler-host]:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[password]@[db-host]:5432/postgres
FAB_DEVICE_ID=
FAB_KEY=
FAB_CREDENTIALS_FILE=.local/fab-credentials.json
INGESTOR_MODE=mock
